
:root {
  /* button color */
  --button-color: rgba(145, 65, 172, 0.4);
  /* color on mouse hover */
  --button-color-hover: rgba(192, 97, 203, 0.4);
  /* color when button is pressed */
  --button-color-active: rgba(220, 138, 221, 0.4);
  /* button text color */
  --button-text-color: rgb(255,255,255);
  /* text color when mouse hovers over button */
  --button-text-color: rgb(255,255,255);

/* font */

font-family: 'Inter', sans-serif;
@supports (font-variation-settings: normal) {
font-family: 'Inter var', sans-serif; }
}

/* don't show icons when they don't load */
.material-symbols-outlined {
  font-display: optional;
}

/* basic setting */
html, body {
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  user-select: none;
}
p {
  /* default text color */
  color: white;
  /* default font */
  font-family: 'Inter';
  /* margin: 16px; */
  text-align: center;
}
a { /* remove links underline*/
  text-decoration: none;
}

/* background image */
body {
  background: #000000 url("background.svg") no-repeat center center fixed;
  background-size: cover;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* window */
.window {
  box-shadow: 0px 8px 32px -8px rgba(0, 0, 0, 0.8);
  border: solid 1px rgba(0,0,0,0.2);
  backdrop-filter: blur(12px);
  background-color: rgba(36,36,36,0.4);
  border-radius: 12px;
}

/* content */
#content {
  
  /*arrangement*/
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  /* size */
  width: 500px;
  /* height: 500px; */
  height: fit-content;
  padding-bottom: 14px;
}

/* profile picture */
#profile-picture {
  margin: 16px 0px 12px 0px;
  width: 128px;
  height: 128px;
  border-radius: 100%;
  box-shadow: 0px 0px 32px -8px rgba(0, 0, 0, 0.36);
}
#profile-picture-holder {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#profile-picture-status {
  width: 32px;
  height: 32px;
  position: absolute;
  opacity: 0.8;
  background-color: #3584e4;
  margin: 16px;
  border-radius: 100%;
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.8);
}
#profile-picture-status[status="dnd"] {
  background-color: #e01b24;
}
#profile-picture-status[status="online"] {
  background-color: #33d17a;
}
#profile-picture-status[status="idle"] {
  background-color: #f6d32d;
}
#profile-picture-status[status="offline"] {
  background-color: #3d3846;
}

/* profile name */
#profile-name {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 1.2rem;
}

/* profile description */
#profile-description {
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.2rem;
}

/* dividing line */
.diver-horizontal {
  margin: 0px 0px 6px 0px;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,0.2);
}

/* links */
#links {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

/* small screen support */
@media only screen and (max-width: 570px) {
  body {
    overflow-y: hidden;
  }
  #content {
    background-color: rgba(36,36,36,0.4);
    box-shadow: none;
    overflow-y: scroll;
    padding: 16px;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0px;
  }
  #titlebar {
    display: none !important;
  }
}

/* buttons */
.button {
  position: relative;
  box-sizing: content-box;
  display:block;
  height: 48px;
  width: 48px;
  cursor: pointer;
  background-color: var(--button-color);
  color: white;
  border: solid 1px rgba(255,255,255,0.13);
  border-radius: 128px;
  padding: 7px;
  margin: 8px 4px 0px 4px;
  font-size: 32px;
  transition: ease all 300ms;
}

.button:hover {
  background-color: var(--button-color-hover);
  transition: 0.2s;
}

.button:active {
  background-color: var(--button-color-active);
  transition: 0.2s;
}

/* loading animation */
@keyframes unbluring {
  0% {
    opacity: 0;
  }
  100% {
    opacity: none;
  }
}
#content {
  animation: 0.4s linear 0s 1 unbluring;
}

/* enable mail copy */
#profile-email {
  user-select: text;
}

/* icon preload */
#preloading {
  position: absolute;
  z-index: -999;
  opacity: 0;
}

/* birthday effect */
#birthday-effect-canvas {
  display:none;
}
#birthday-effect-canvas.enabled {
  pointer-events: none;
  width: 100% !important;
  height: 100%  !important;
  z-index: 1000;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
}
#birthday-effect-icon-holder {
  display: none;
}
@media only screen and (min-width: 500px) {
  .birthday-effect-icon {
    font-size: 6rem;
    margin: 64px 16px;
  }
  :not(.mobile)#birthday-effect-icon-holder.enabled {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 570px) {
  .birthday-effect-icon {
    font-size: 3rem;
    margin: 32px 16px;
  }
  .mobile#birthday-effect-icon-holder.enabled {
    position: absolute;
    left: -22px;
    width: calc(100% + 48px);
    top:-22px;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
}

/* floor pop up */
#snakbar {
  z-index:1000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 12px;
  /* width: 100%; */
  width: fit-content;
  max-width: 500px;
  height: 50px;
  position: absolute;
  top: calc(100% + 40px);
  transition: ease top 300ms;
}
#snakbar.open {
  top: calc(100% - 72px);
}
#snakbar-content {
  margin: 0px 16px;
}
#snakbar-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* title bar */
#titlebar {
  width: 100%;
  height: 48px;
  border-radius: 12px 12px 0px 0px;
  background-color: rgba(48,48,48,0.4);
  border-bottom: 1px rgba(0,0,0,0.2) solid;
  position: relative;
  display: flex;
  align-items: center;
}
#titlebar-title {
  position: absolute;
  left: 0px;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
.titlebar-icon {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border-radius: 100%;
  z-index: 2;
}
#titlebar-icon-1 {
  cursor: pointer;
  margin-left:12px;
  background-color: #e01b24;
}
#titlebar-icon-2 {
  cursor: pointer;
  background-color: #f6d32d;
}
#titlebar-icon-3 {
  cursor: pointer;
  background-color: #33d17a;
}
