:root {
  --blue1: rgb(153, 193, 241);
  --blue2: rgb(98, 160, 234);
  --blue3: rgb(53, 132, 228);
  --blue4: rgb(28, 113, 216);
  --blue5: rgb(26, 95, 180);
  --green1: rgb(143, 240, 164);
  --green2: rgb(87, 227, 137);
  --green3: rgb(51, 209, 122);
  --green4: rgb(46, 194, 126);
  --green5: rgb(38, 162, 105);
  --yellow1: rgb(249, 240, 107);
  --yellow2: rgb(248, 228, 92);
  --yellow3: rgb(246, 211, 45);
  --yellow4: rgb(245, 194, 17);
  --yellow5: rgb(229, 165, 10);
  --orange1: rgb(255, 190, 111);
  --orange2: rgb(255, 163, 72);
  --orange3: rgb(255, 120, 0);
  --orange4: rgb(230, 97, 0);
  --orange5: rgb(198, 70, 0);
  --red1: rgb(246, 97, 81);
  --red2: rgb(237, 51, 59);
  --red3: rgb(224, 27, 36);
  --red4: rgb(192, 28, 40);
  --red5: rgb(165, 29, 45);
  --purple1: rgb(220, 138, 221);
  --purple2: rgb(192, 97, 203);
  --purple3: rgb(145, 65, 172);
  --purple4: rgb(129, 61, 156);
  --purple5: rgb(97, 53, 131);
  --brown1: rgb(205, 171, 143);
  --brown2: rgb(181, 131, 90);
  --brown3: rgb(152, 106, 68);
  --brown4: rgb(134, 94, 60);
  --brown5: rgb(99, 69, 44);
  --light1: rgb(255, 255, 255);
  --light2: rgb(246, 245, 244);
  --light3: rgb(222, 221, 218);
  --light4: rgb(192, 191, 188);
  --light5: rgb(154, 153, 150);
  --dark1: rgb(119, 118, 123);
  --dark2: rgb(94, 92, 100);
  --dark3: rgb(61, 56, 70);
  --dark4: rgb(36, 31, 49);
  --dark5: rgb(0, 0, 0);

  --background: #242424;
  --text: #f6f5f4;
  --shadow: rgba(0, 0, 0, 0.36);

  --lavender:     #8888CC;
  --lime:         #bbdd33;
  --lemon:        #eeee88;
  --orange:       #ea8c10;
  --strawberry:   #c94450;
  --olive:        #729a68;
  --sand:         #dcd3b0;
  --sand-blue:    #68799a;
  --sand-purple:  #9a6880;
  --mustard:      #b86e0d;
  --indigo:       #020222;
  --cappuccino:   #866c4c;
  --coffee:       #472b1b;
  --chocolate:    #401e0d;
  --pine:         #0d4036;
  --aqua:         #48a1a4;
  --sky:          #5a8ab2;
  --copper:       #B87333;
  --bronze:       #C88E4E;

  /* font */
  font-family: "Inter", sans-serif;
  @supports (font-variation-settings: normal) {
    font-family: "Inter var", sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  cursor: none;
  background: var(--background);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
}

li {
  float: left;
}

@keyframes pageFade {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  100% {
    opacity: none;
    transform: none;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: var(--background);
  animation: 0.6s ease 0s 1 pageFade;
}

nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
}

span {
  display: inline-block;
  font-family: "Inter";
  font-weight: bold;
  color: var(--text);
  font-size: 2rem;
  text-transform: uppercase;
  pointer-events: none;
  transition: transform 0.1s linear;
}

@media (min-width: 900px) {
  nav {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  nav {
    top: 30%;
  }

  .link-hover {
    width: 100%;
    padding: 1rem 0;
    display: inline-block;
  }
}

@media (pointer: fine) {

  .link-hover {
    transition: all 0.3s ease;
    cursor: none;
  }
  
  .cursor {
    position: fixed;
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%);  
    background-color: var(--light1);
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
    z-index: 99999;
  }
  
  .link-hover:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(4);
  }
  
  .button-hover:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(2);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  flex-direction: column;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.2s ease;
}

.button:hover {
  background-color: var(--dark2); filter: saturate(0);
  transition: 0.2s ease;
  transform: scale(1.2);
}

.button:active {
  background-color: var(--dark1); filter: saturate(0);
  transition: 0.2s ease;
}

.home-button {
  background-color: var(--dark3); filter: saturate(0);
  color: var(--text);
  border: none;
  border-radius: 50%;
}

.text-circle{
  font-size: 4rem;
  font-family: 'Inter',sans-serif;
  text-transform: uppercase;
  animation: spin 6s linear infinite;
  color: var(--text);
}
@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

.fa {
  text-decoration: none;
  color: var(--text);
}

.fa-solid {
  text-decoration: none;
  color: var(--text);
}

.fa-brands {
  text-decoration: none;
  color: var(--text);
  letter-spacing: unset;
}
